<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <h1 class='meetLogItem'></span><%= meetings.meetingTitle %></h1>
    <section class="update availability">
            <fieldset>
                <legend></legend>
                    <ul>
                        <li class='meetLogItem'><span>Attendees - </span><%= meetings.attendees %></li>
                        <li class='meetLogItem'><span>Meeting Notes - </span><%= meetings.notes %></li>
                        <li class='meetLogItem'><span>Meeting Facilitator's Availability - </span><%= meetings.userAvailability %></li>
                    </ul>
            </fieldset>
    </section>
    <section>
        <h3>Choose your availability based on Facilitator's options</h3>
        <form action="/meetings/updateAvail/<%= meetings._id %>" method="POST">
                    <label>
                        Enter Your Name:
                        <input type="text" name="attendeeName">
                    </label>
                    <% for(var i=0; i<meetings.userAvailability.length; i++) {%>
                    <ul>
                        <li class="attendeeAvailTimes">
                            <% const meetingTimeUTC = moment.utc(meetings.userAvailability[i], "YYYY-MM-DDTHH:mm:SS.SSS[Z]"); %>
                            <% const userTimezone = moment.tz.guess(); %>
                            <% const meetingTimeLocal = meetingTimeUTC.clone().tz(userTimezone); %>
                            <input type="checkbox" name="attendeeSelectedTime" class="timeSlot" value="<%= meetingTimeUTC.format("YYYY-MM-DDTHH:mm:ss.000[Z]") %>">
                            <%= meetingTimeLocal.format('dddd, MMMM Do YYYY, h:mma z') %>
                            </input>
                          </li>
                    </ul>
                    <% } %>  
            <button class="sendAvail"type="submit">Submit to Facilitator</button>
        </form>   
    </section>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="../js/main.js"></script>
</body>
</html>