<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class='meetLogItem'></span><%= meetings.meetingTitle %></h1>
    <section class="update availability">
            <fieldset>
                <legend></legend>
                    <ul>
                        <li class='meetLogItem'><span>Attendees - </span><%= meetings.attendees %></li>
                        <li class='meetLogItem'><span>Meeting Notes - </span><%= meetings.notes %></li>
                        <li class='meetLogItem'><span>Meeting Facilitator's Availability - </span><%= meetings.userAvailability %></li>
                    </ul>
            </fieldset>
    </section>
    <section>
        <h3>Choose your availability based on Facilitator's options</h3>
        <form action="meetings/updateAvail" method="POST">
                    <label>
                        Enter Your Name:
                        <input type="text" name="attendeeName">
                    </label>
                    <% for(var i=0; i<meetings.userAvailability.length; i++) {%>
                    <ul>
                        <li class="attendeeAvailTimes">
                            <input type="checkbox" name="attendeeSelectedTime" class="timeSlot"><%=meetings.userAvailability[i]%></input>
                        </li>
                    </ul>
                    <% } %>  
            <button class="sendAvail"type="submit">Submit to Facilitator</button>
        </form>   
    </section>
    <script src="js/main.js"></script>
</body>
</html>