<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1><%= meeting.meetingTitle %></h1>
    <section class="">
        <span>Meeting ID: <%= meeting._id %></span>
        <span>Date: <%= meeting.finalMeetingTime%></span>
        <p>Notes: <%= meeting.notes %></p>
        <% let attendeeList = '' %>
        <% attendees.forEach(attendee => attendeeList += attendee.attendeeName + ', ') %>
        <span>Attendees (<%= attendees.length %>): 
            <%# THIS IS A COMMENT %>
            <%= attendeeList %>
        </span>
        <form action="/meetings/finaliseMeeting/<%= meeting._id %>" method="POST">
            <fieldset>
                <table>
                    <thead>
                            <th>Select time</th>
                            <th>No. responses</th>
                            <th>Attendees</th>
                    </thead>
                    <tbody>
                        <%# code itterates through the facilitators availbility and checks if there is corrosponding attendee responses and creates the table data. could use OOP to do the checks%>
                        <% meeting.userAvailability.forEach( el => { %> 
                            <% let attendeesAvailable = 0%>
                            <% let attendeeResponses = ''%>
                            <% attendees.forEach(attendee => { %>
                                <% if(attendee.attendeeAvailability.includes(el)){ %> 
                                    <% attendeesAvailable ++ %>
                                    <% attendeeResponses += attendee.attendeeName %>
                                <% } %>
                            <% }) %>
                            <tr>
                                <td>
                                    <input type="radio" name="finalisedAvailability" value="<%= el %>">
                                        <%= el %>
                                    </input>
                                </td>
                                <td><%= attendeesAvailable %></td>
                                <td><%= attendeeResponses %></td>
                            </tr>
                        <% }) %>  
                    </tbody>
                </table>
                <button>Finalise meeting</button>
            </fieldset>
        </form>
        
    </section>
    
    <%# THIS IS A COMMENT %>


    <a href="/logout">Logout</a>

    <script src="../js/main.js"></script>
</body>
</html>