<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1><%= meeting.meetingTitle %></h1>
    <section class="">
        <span>Meeting ID: <%= meeting._id %></span>
        <p>Notes: <%= meeting.notes %></p>
        <span>Attendee responses (): 
            <%# THIS IS A COMMENT can use this code once AttendeeSchema is being used meeting.attendeeInfo.attendeeName %>
            <%= attendees %>
        </span>
        <table>
            <thead>
                    <th>Select time</th>
                    <th>No. responses</th>
                    <th>Attendees</th>
            </thead>
            <tbody>
                <% meeting.userAvailability.forEach( el => { %>
                    <tr>
                        <td>
                            <input type="radio" name="finalisedAvailability" value="<%= el %>">
                                <%= el %>
                            </input>
                        </td>
                        <td>khj</td>
                    </tr>
                <% }) %>  
            </tbody>
        </table>
    </section>
    
    <%# THIS IS A COMMENT %>


    <a href="/logout">Logout</a>

    <script src="../js/main.js"></script>
</body>
</html>