<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <h1>Meetings</h1>
    <section class="create new meeting">
        
        <form action="meetings/createMeeting" method="POST">
            <fieldset>
                <legend><h3>Create new meeting</h3></legend>
                <label>
                    Title:
                    <input type="text" name="title">
                </label>
                    Meeting notes
                    <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
                </label>

                <div class="row">
                    <label for="date" class="col-1 col-form-label">Date</label>
                    <div class="col-5">
                      <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control" id="date"/>
                        <span class="input-group-append">
                          <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                </div>


                <ol id="schedule">
                    <li class="day" id="monday">
                        Monday
                        <ol>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 9 am">
                                9 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 10 am">
                                10 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 11 am">
                                11 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 12 pm">
                                12 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 1 pm">
                                1 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 2 pm">
                                2 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 3 pm">
                                3 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 4 pm">
                                4 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Monday, 5 pm">
                                5 pm
                                </input>
                            </li>
                        </ol>
                    </li>
                    <li class="day" id="tuesday">
                        Tuesday
                        <ol>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 9 am">
                                9 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 10 am">
                                10 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 11 am">
                                11 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 12 pm">
                                12 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 1 pm">
                                1 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 2 pm">
                                2 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 3 pm">
                                3 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 4 pm">
                                4 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Tuesday, 5 pm">
                                5 pm
                                </input>
                            </li>
                        </ol>
                    </li>
                    <li class="day" id="wednesday">
                        Wednesday
                        <ol>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 9 am">
                                9 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 10 am">
                                10 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 11 am">
                                11 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 12 pm">
                                12 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 1 pm">
                                1 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 2 pm">
                                2 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 3 pm">
                                3 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 4 pm">
                                4 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Wednesday, 5 pm">
                                5 pm
                                </input>
                            </li>
                        </ol>
                    </li>
                    <li class="day" id="thursday">
                        Thursday
                        <ol>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 9 am">
                                9 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 10 am">
                                10 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 11 am">
                                11 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 12 pm">
                                12 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 1 pm">
                                1 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 2 pm">
                                2 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 3 pm">
                                3 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 4 pm">
                                4 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Thursday, 5 pm">
                                5 pm
                                </input>
                            </li>
                        </ol>
                    </li>
                    <li class="day" id="friday">
                        Friday
                        <ol>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 9 am">
                                9 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 10 am">
                                10 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 11 am">
                                11 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 12 pm">
                                12 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 1 pm">
                                1 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 2 pm">
                                2 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 3 pm">
                                3 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 4 pm">
                                4 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Friday, 5 pm">
                                5 pm
                                </input>
                            </li>
                        </ol>
                    </li>
                    <li class="day" id="saturday">
                        Saturday
                        <ol>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 9 am">
                                9 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 10 am">
                                10 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 11 am">
                                11 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 12 pm">
                                12 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 1 pm">
                                1 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 2 pm">
                                2 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 3 pm">
                                3 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 4 pm">
                                4 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Saturday, 5 pm">
                                5 pm
                                </input>
                            </li>
                        </ol>
                    </li>
                    <li class="day" id="sunday">
                        Sunday
                        <ol>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 9 am">
                                9 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 10 am">
                                10 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 11 am">
                                11 am
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 12 pm">
                                12 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 1 pm">
                                1 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 2 pm">
                                2 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 3 pm">
                                3 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 4 pm">
                                4 pm
                                </input>
                            </li>
                            <li class="hour">
                                <input type="checkbox" name="facilitatorTime" class="timeSlot" value="Sunday, 5 pm">
                                5 pm
                                </input>
                            </li>
                        </ol>
                    </li>
                </ol>
                <button type="submit">create meeting</button>

            </fieldset>
        </form>
    </section>
    

    <h3>Existing meetings</h3>
    <span>Pending meetings: <%=left%></span>
    <%# THIS IS A COMMENT %>
    <ul>
        <% meetings.forEach( el => { %>
                <li class='meetingItem' data-id=<%=el._id%>>
                    <a href="/meetings/<%=el._id%>">
                        <h3><%= el.meetingTitle %>: <%= el.finalMeetingTime %></h3>
                        <h4><%= el.notes %></h4>
                        <h5><%= el.attendees %></h5><%# THIS IS NOT WORKING %>
                    </a>
                    <span><%= el %></span>
                    
                    <span class='del'> Delete </span>
                </li>
        <% }) %>    
        </ul>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script src="../js/main.js"></script>
</body>
</html>